{{#> layout}}
    {{#content "head" mode="append"}}
        <title>{{ env.PROPER_NAME }} - Home</title>
    {{/content}}
    
    {{#content "body"}}
        Welcome to {{ env.PROPER_NAME }}! It is currently {{ date }}.
    {{/content}}
{{/layout}}